<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Login Logout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        .login{
            background-color: #f58c8c;
            color: #000;
            margin-top: 110px;
            margin-left: 210px;
            margin-right: 240px;
            border: 63px;
            border-radius: 12px;
            max-height: 400px;
            height: 350px;
        }

        .heading{
            text-align: center;
            color: rgb(12, 1, 1);
            font-weight: bolder;
        }
    </style>
</head>
